[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

beautifulsoup4 = "*"
requests = "*"
requests_cache = "*"
feedparser = "*"
nltk = "*"
pyaml = "*"

[requires]

python_version = "3.6"
